body {
  background: linear-gradient(90deg, rgb(76, 12, 122), rgb(23, 4, 192));
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(10, 54, 149);
  width: 800px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  border-width: 20px;
  border: 1px solid rgb(0, 255, 64);
  box-shadow: 0 0 50px rgba(0, 255, 64, 0.8);
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(0, 255, 64);
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(0, 255, 64);
}

/* main container area beneath menu */
main {
  background: rgb(10, 54, 149);
  display: flex;
  width: 800px;
  height: 280px;
  margin-top: 40px;
  padding: 10px;
  color: rgb(0, 255, 64);
  border-radius: 30px;
  border: 1px solid rgb(0, 255, 64);
  box-shadow: 0 0 50px rgba(0, 255, 64, 0.8);
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 200px;
  border-radius: 10px;
}

.content {
  flex: 1;
  padding: 15px;
}

/* interests section styles */
#interests {
  /* border: 4px darkorchid ridge; */
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
}

h2,
h3 {
  margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(255, 255, 255);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #08535d;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-width: 5px;
  border-color: hotpink;
}

#portfolio li:hover {
  background: #186b58;
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in;
}

#portfolio a {
  text-decoration: none;
  color: #ffffff;
}
