body {
  margin: 0px;
  background-color: black;
}

canvas {
  background: linear-gradient(130deg, rgb(31, 0, 29) 0%, rgb(80, 0, 74) 100%);
  margin: 20px;
  padding: auto;
}

img {
  display: none;
}
