body {
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

canvas {
  background: radial-gradient(closest-side, rgb(200, 8, 180), rgb(150, 8, 132), rgb(100, 8, 109), rgb(70, 8, 64), rgb(36, 2, 34));
  margin: 2px;
  padding: auto;
  /*width: 100%;
  height: 100%; */
}

img {
  display: none;
}

