body {
  margin: 0px;
  background-color: black;
}

canvas {
  background: radial-gradient(closest-side, rgb(200, 8, 180), rgb(150, 8, 132), rgb(100, 8, 109), rgb(70, 8, 64), rgb(36, 2, 34));
  margin: 20px;
  padding: auto;
}

img {
  display: none;
}
